@page
@model ErrorModel
@{
    ViewData["Title"] = "Lỗi"; // Tiêu đề trang
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã có lỗi xảy ra trong quá trình xử lý yêu cầu của bạn.</h2>

@* Kiểm tra xem có cần hiển thị ID yêu cầu để hỗ trợ kỹ thuật hay không *@
@if (Model.ShowRequestId)
{
    <p>
        <strong>ID yêu cầu:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Chế độ phát triển (Development Mode)</h3>
<p>
    Chuyển sang môi trường <strong>Development</strong> sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>Không nên bật môi trường phát triển (Development) trên các ứng dụng đã triển khai thực tế</strong>, vì nó có thể làm lộ thông tin nhạy cảm từ các ngoại lệ (exceptions) cho người dùng cuối.
    Để gỡ lỗi cục bộ, môi trường phát triển có thể được kích hoạt bằng cách đặt biến môi trường <strong>ASPNETCORE_ENVIRONMENT</strong> thành <strong>Development</strong> và khởi động lại ứng dụng.
</p>