@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đăng ký"; // Tiêu đề trang
}

<h1>@ViewData["Title"]</h1>

@{
    @* Kiểm tra xem có hiển thị liên kết xác nhận tài khoản hay không *@
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Ứng dụng này hiện chưa có cấu hình gửi email thực tế, hãy xem <a href="https://aka.ms/aspaccountconf">tài liệu này</a> để biết cách cấu hình trình gửi email.
            Thông thường, liên kết này sẽ được gửi qua email: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Nhấp vào đây để xác nhận tài khoản của bạn</a>
        </p>
    }
    else
    {
        @* Trường hợp bình thường khi email đã được gửi đi *@
        <p>
            Vui lòng kiểm tra email của bạn để xác nhận tài khoản.
        </p>
    }
}