@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu"; // Tiêu đề trang
}

<h1>@ViewData["Title"]</h1>
<h2>Đặt lại mật khẩu của bạn.</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        @* Form thực hiện thay đổi mật khẩu mới *@
        <form method="post">
            @* Hiển thị lỗi xác thực tổng quát *@
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            @* Lưu trữ mã token đặt lại mật khẩu dưới dạng ẩn *@
            <input asp-for="Input.Code" type="hidden" />

            @* Trường nhập email người dùng *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            @* Trường nhập mật khẩu mới *@
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng nhập mật khẩu của bạn." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            @* Trường xác nhận mật khẩu mới *@
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Vui lòng xác nhận mật khẩu của bạn." />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @* Nút gửi form để cập nhật mật khẩu *@
            <button type="submit" class="w-100 btn btn-lg btn-primary">Đặt lại</button>
        </form>
    </div>
</div>

@section Scripts {
    @* Nhúng script hỗ trợ kiểm tra tính hợp lệ của dữ liệu *@
    <partial name="_ValidationScriptsPartial" />
}