@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Xác nhận đặt lại mật khẩu"; // Tiêu đề trang
}

<h1>@ViewData["Title"]</h1>

@* Thông báo cho người dùng biết mật khẩu đã được thay đổi thành công và cung cấp link đăng nhập *@
<p>
    Mật khẩu của bạn đã được đặt lại. Vui lòng <a asp-page="./Login">nhấp vào đây để đăng nhập</a>.
</p>